@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 234 43% 94%;
    --foreground: 222.2 84% 4.9%;
    --card: 234 43% 94%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 234 43% 94%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 231 48% 48%;
    --primary-foreground: 210 40% 98%;
    --secondary: 230 40% 90%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 230 40% 90%;
    --muted-foreground: 222.2 84% 4.9% / 0.5;
    --accent: 262 36% 55%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 231 20% 80%;
    --input: 0 0% 100%;
    --ring: 231 48% 48%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 231 40% 98%;
    --sidebar-foreground: 231 30% 25%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 234 43% 94%;
    --sidebar-accent-foreground: 231 48% 48%;
    --sidebar-border: 231 20% 88%;
    --sidebar-ring: 231 48% 48%;
  }
  .dark {
    --background: 230 20% 10%;
    --foreground: 210 40% 98%;
    --card: 230 20% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 230 20% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 231 48% 70%;
    --primary-foreground: 231 48% 15%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --muted: 222.2 47.4% 11.2%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 262 36% 75%;
    --accent-foreground: 262 36% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 231 48% 70%;
    --sidebar-background: 230 20% 7%;
    --sidebar-foreground: 210 40% 90%;
    --sidebar-primary: 231 48% 80%;
    --sidebar-primary-foreground: 231 48% 10%;
    --sidebar-accent: 230 20% 12%;
    --sidebar-accent-foreground: 231 48% 80%;
    --sidebar-border: 230 20% 15%;
    --sidebar-ring: 231 48% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
